@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nixie+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poiret+One&family=Quicksand:wght@300..700&display=swap');

body::before{
    content: "";
    background-image: url("/imagens/wllppr-mobile.avif");
    height: 55vh;
    width: 98.7vw;
    display: flex;
    position: absolute;
    z-index: -10;
    opacity: 100;
    background-size: cover;
}

:root {
    --color-destak: #2F6AA5;
    --color-black: #1B1B1B;
    --color-white: #ECECEC;
    --font-title: "Nanum Myeongjo",sans-serif;
    --font-media:"Poiret One",sans-serif;
    --font-body: "Nixie One", sans-serif;
}

h1{
    font-family:"Nanum Myeongjo",sans-serif;
    color: #BE94F3;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    line-height: 2;
    z-index: 1;
    margin:0;
}


h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #BE94F3;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-weight: bold; 
   
}

h3{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #BE94F3;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-weight: bold; 
   
}

h4{
    font-family:"Poiret One",sans-serif;
    color: #0c0c0c;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-weight: bold; 
   
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "Poiret One",sans-serif;
    color: #0c0c0c;
}



#secao-apresentacao {
    display: flex;
    padding: 2rem;
   /*1rem=16px;*/
    align-items: center;
    
    
}

#texto-apresentacao h2{
    display: flex;
    font-size: 1.2rem;
    font-family: "Poiret One",sans-serif;
    color: #0c0c0c;
    margin: 0; /* Remove a margem ao redor dos parágrafos */
    padding: 0; /* Remove o preenchimento ao redor dos parágrafos */
    margin-top: 1rem;
}
#secao-apresentacao img {
    display: flex;
    border-radius:0%;
    margin: 0;
    justify-content: flex-start;
}

#texto-apresentacao p {
    font-size: 1.2rem;
    font-family:var(--font-body);
}

#texto-apresentacao {
    color: var(--color-destak);
}

#secao-proposta{
    position:relative;
    top: -60px;
}

#texto-proposta h2{
    font-size: 1.2rem;
    font-family: "Poiret One",sans-serif;
    color: #0c0c0c;
    margin: 30px; /* Remove a margem ao redor dos parágrafos */
    padding: 0; /* Remove o preenchimento ao redor dos parágrafos */
}

.header img.Magnus {
    display: flex;
    position: absolute; 
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    width: 70px; /* Largura do logo */
    height: 70px; /* Altura do logo */
  }


 .header img.Sanofi{
    display: flex;
    position: absolute;
    top: 34%; /* Posição vertical da imagem */
    left: 55%; /* Posição horizontal do centro da imagem */
    transform: translateX(-50%); /* Centralizar a imagem horizontalmente */
    width: 77px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    align-items: center;
}

.header img.FIAP {
    display: flex;
    position: absolute;
    top: 35.5%; /* Posição vertical da imagem */
    left: 45%; /* Posição horizontal do centro da imagem */
    transform: translateX(-50%); /* Centralizar a imagem horizontalmente */
    width: 75px; /* Largura da imagem */
    height: 23px; /* Altura da imagem */
    align-items: center;
}
@media (max-width: 768px) {
    .header img.Sanofi,
    .header img.FIAP {
           top: 90vh;
           width: 50px;
           height: 25px;
       }
   }
  .content {
    padding: 25px; /* Espaçamento interno do conteúdo */
    flex-direction: column;

  }

  #secao-abas{
    /* background-color:rgb(207, 235, 243); */
    height: 100vh;
}
    
#secao-abas ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0; /* Removendo o preenchimento padrão das listas */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.card {
    background-color: #BE94F3;
    color: black;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 20px;
    font-family: "Poiret One",sans-serif;
    line-height: 1.5;
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-left: 25%;

}

.card b {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);    
}

  form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="number"], input[type="time"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #BE94F3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #BE94F3;
  }

  
  footer {
    padding: 20px;
    text-align: center;
    background-image: url('/imagens/wllppr-mobile.avif');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer-container {
    position: relative;
    max-width: 800px; /* Largura máxima do rodapé */
    margin: auto;
  }

  
  .footer-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .member {
    margin: 20px;
    text-align: center;
  }
  
  .member img {
    width: 100px; /* Largura das fotos */
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .member p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #a8a1b1;
  }

  /* .header img.FIAP {
    display: flex; */
    /* position: absolute; Posição absoluta para o logo */
    /* top: 310px; /* Distância do topo */
    /* right: 570px; Distância da direita
    width: 90px; /* Largura do logo */
    /* height: 10px; Altura do logo */ 

    /* .header img.Sanofi { */
        /* display: flex;
        /* position: absolute; Posição absoluta para o logo */
        /* justify-content: center;
        width: 100px; /* Largura do logo */
        /* height: 50px; /* Altura do logo */
        /* grid-template-columns: repeat(auto-fit, 100px); */
        /* display: flex; */
        /* position: absolute; Posição absoluta para o logo */
        /* top: 310px; Distância do topo
        right: 570px; /* Distância da direita */
        /* width: 90px; /* Largura do logo */
        /* height: 25px; Altura do logo */